module.exports = {
    // Port and Host for the web interface.
    port: 3000, // Unless you have forwarding configured, include this port in the url on line 18, below.
    host: '127.0.0.1',
    ssl: null,
    // If you want to use SSL (you should), use this config for ssl:
    //ssl: {
    //    port: 3443,
    //    host: '127.0.0.1',
    //    key: 'path_to_ssl.key',
    //    cert: 'path_to_ssl.crt',
    //    ca: 'path_to_ca.pem'
    //},

    url: 'http://localhost:3000'
};