extends layout

block content
    div(class='jumbotron')
        div.wrapper
            div.row
                div.col-md-7
                    h1 Kraken Exporter
                    p Export your kraken.com trade history as CSV.
                    p.small The best crypto exchange kraken.com sadly doesn't offer CSV exports of the trade history. Kraken Exporter offers this important service until they are going to implement this feature in kraken.com.
                div.col-md-5.feature-image


    section.how
        div.wrapper
            h2 Start export
            form(method='post', action='', role="form")
                        +form-field('key', 'API key:', 'key', 'key', 'Paste your API key here', false)
                        +form-field('secret', 'API secret:', 'secret', 'secret', 'Paste your API secret here', false)
                        button(type='submit').submit-button.btn-primary Start CSV Export

    section.apikey
        div.wrapper
            h2 How to create an API key at kraken.com
            ol
                li Go to kraken.com and log in using your credentials.
                li Go to "Settings" -> "API" and click on "Generate New Key".
                li Add a Label and check the permission "Query Closed Orders & Trades". Leave the rest as it is and click on "Generate Key".
                li Copy and paste your api key and secret into the form on this page and click "Start CSV Export"
                li Wait until the export has finished and download your CSV file.
                li Click on "Delete CSV Export" to remove the file from our servers.

    section.security
        div.wrapper
            h2 I don't want to give my precious API keys to anyone.<br/> Will you steal my funds?
            div.row
                div.col-md-6
                    h3 We can't
                    p Kraken allows to set very specific permissions for each API key. This service only needs one: "Query Closed Orders & Trades". Make sure to add this permission and only this permission. Your funds are untouchable for us.
                div.col-md-6
                    h3 You don't have to
                    p Kraken Exporter is open source. Grab a copy at <a href="https://www.github.com/trapp/krakenexporter">https://github.com/trapp/krakenexporter</a> and run your own instance.
                    p It's also available as docker image! All you need to run your own instance is this command: docker run trapp/krakenexporter

    section.footer
        div.wrapper
            div.row
                div.col-md-4
                    h3 Disclaimer
                    p Kraken Exporter is not affiliated with kraken.com.
                    p Kraken Exporter shall not be held responsible for any injury, loss, expense or damage of any kind whatsoever suffered or incurred by any person who accesses or uses this website ("the user"). The user hereby indemnifies Kraken Exporter against any demand, claim or action against Kraken Exporter relating to or in connection with the user's use or accessing of this website whether directly or indirectly for any reason whatsoever.
                div.col-md-4
                    h3 About
                    p Kraken Exporter is brought to you by Timon Rapp.
                    p Online Portfolio: <a href="http://zaeda.net">http://zaeda.net</a>
                    p If you have a question about Kraken Exporter, please write to: <a href="mailto:timon@zaeda.net">timon@zaeda.net</a>.
                    p Tips: <a href="bitcoin:1JmdE1gTZ1CnVXVfTDWK1Jf8ojaUKVakZT">1JmdE1gTZ1CnVXVfTDWK1Jf8ojaUKVakZT</a>
                div.col-md-4
                    h3 Development
                    p Help improving Kraken Exporter at Github: <a href="https://github.com/trapp/krakenexporter">https://github.com/trapp/krakenexporter</a>